*.class

# Package Files #
*.jar
*.war
*.ear
/booXstore/nbproject/private/
/booXstore/booXstore-ejb/nbproject/private/

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
booXstore/nbproject/

#Source Files#
~*.docx
azarrouk_CER_*.docx
Thumbs.db

# LateX Files #
*.toc
*.log
*.aux
*.synctex.gz
*.out
*.bak
*.pyg

# Sublime Text Files #
*.sublime-project
*.sublime-workspace

/booXstore/booXstore-ejb/target/
/booXstore-war/target/
/booXstore/booXstore-ear/target/
booXstore-war/src/main/webapp/VAADIN/gwt-unitCache/
/booXtore/booXtore-ware/nbproject/private/