*.class

# Package Files #
*.jar
*.war
*.ear
/booXstore/nbproject/private/
/booXstore/booXstore-ejb/nbproject/private/

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
booXstore/nbproject/
