<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>booXtore - Catalogue</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" media="screen" href="includes/main.css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">booXtore</a>
				</div>
				<div class="collapse navbar-collapse">

					<form class="navbar-form navbar-right">
						<div class="form-group">
							<input type="search" class="form-control" placeholder="Recherche">
						</div>
						<button class="btn btn-success">Recherche</button>
					</form>

					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Connexion</a></li>
						<li><a href="#">Créer un compte</a></li>
						<li><a href="#"><i class="fa fa-shopping-cart"></i> Panier</a></li>
					</ul>

				</div><!--/.nav-collapse -->
			</div>
		</div>

		<div id="wrap">

			<div id="main" class="container clear-top">

				<ol class="breadcrumb">
					<li class="active">Catalogue</li>
				</ol>

				<div class="row">
					<div class="col-md-6"><input type="search" class="form-control" placeholder="Recherche"></div>

					<div class="col-md-4"><select class="form-control">
						<option>Catégorie</option>
						<option>Histoire</option>
						<option>Fantasy</option>
						<option>Science-Fiction</option>
						<option>Comédie</option>
						<option>Polar</option>
					</select></div>

					<div class="col-md-2"><button class="btn btn-info">Recherche</button></div>

				</div>

				<hr>

				<div class="row">
					<div class="col-md-2 hidden-xs"><a href="#"><img src="http://lorempixel.com/100/100/" alt="Lorem pixel"></a></div>
					<div class="col-md-10">
						<a href="#"><h3>Item Name</h3></a>
						<p>par <strong>Auteur</strong>, éditions <strong>Éditeur</strong></p>
						<p>13€</p>
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col-md-2 hidden-xs"><a href="#"><img src="http://lorempixel.com/100/100/" alt="Lorem pixel"></a></div>
					<div class="col-md-10">
						<a href="#"><h3>Item Name</h3></a>
						<p>par <strong>Auteur</strong>, éditions <strong>Éditeur</strong></p>
						<p>13€</p>
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col-md-2 hidden-xs"><a href="#"><img src="http://lorempixel.com/100/100/" alt="Lorem pixel"></a></div>
					<div class="col-md-10">
						<a href="#"><h3>Item Name</h3></a>
						<p>par <strong>Auteur</strong>, éditions <strong>Éditeur</strong></p>
						<p>13€</p>
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col-md-2 hidden-xs"><a href="#"><img src="http://lorempixel.com/100/100/" alt="Lorem pixel"></a></div>
					<div class="col-md-10">
						<a href="#"><h3>Item Name</h3></a>
						<p>par <strong>Auteur</strong>, éditions <strong>Éditeur</strong></p>
						<p>13€</p>
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col-md-2 hidden-xs"><a href="#"><img src="http://lorempixel.com/100/100/" alt="Lorem pixel"></a></div>
					<div class="col-md-10">
						<a href="#"><h3>Item Name</h3></a>
						<p>par <strong>Auteur</strong>, éditions <strong>Éditeur</strong></p>
						<p>13€</p>
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col-md-2 hidden-xs"><a href="#"><img src="http://lorempixel.com/100/100/" alt="Lorem pixel"></a></div>
					<div class="col-md-10">
						<a href="#"><h3>Item Name</h3></a>
						<p>par <strong>Auteur</strong>, éditions <strong>Éditeur</strong></p>
						<p>13€</p>
					</div>
				</div>

			</div>

		</div>

		<script src="includes/main.js"></script>

	</body>
</html>
