<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>booXtore - Mon compte</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" media="screen" href="includes/main.css">

	</head>
	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">booXtore</a>
			</div>
			<div class="collapse navbar-collapse">

				<form class="navbar-form navbar-right">
					<div class="form-group">
						<input type="search" class="form-control" placeholder="Recherche">
					</div>
					<button class="btn btn-success">Recherche</button>
				</form>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-user"></i> Mon compte</a></li>
					<li><a href="#"><i class="fa fa-shopping-cart"></i> Panier</a></li>
				</ul>

			</div><!--/.nav-collapse -->
		</div>
		</div>

		<div class="global_singin">

			<div class="container">

				<div class="row">
					<div class="col-md-6">
						<form class="form-signin">
							<h2 class="form-signin-heading">Connectez-vous</h2>
							<input type="text" class="form-control" placeholder="Nom d'utilisateur" required>
							<input type="password" class="form-control" placeholder="Mot de passe" required>
							<label class="checkbox">
							<input type="checkbox" value="remember-me"> Se souvenir de moi
							</label>
							<button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
						</form>
					</div>

					<div class="col-md-6">
						<form class="form-signin">
							<h2 class="form-signin-heading">Inscrivez-vous</h2>
							<input type="text" class="form-control" placeholder="Nom" required>
							<input type="text" class="form-control" placeholder="Prénom" required>
							<input type="text" class="form-control" placeholder="Mail" required>
							<input type="text" class="form-control" placeholder="Adresse postale" required>
							<input type="text" class="form-control" placeholder="Nom d'utilisateur" required>
							<input type="password" class="form-control" placeholder="Mot de passe" required>
							<button class="btn btn-lg btn-primary btn-block" type="submit">S'inscrire</button>
						</form>
					</div>
				</div>
			</div>

		<div>

		<script src="includes/main.js"></script>

	</body>
</html>
