<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>booXtore - Accueil</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" media="screen" href="css/main.css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">booXtore</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Connexion</a></li>
						<li><a href="#">Créer un compte</a></li>
						<li><a href="#"><i class="fa fa-shopping-cart"></i> Panier</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>

		<div id="wrap">
			<div id="main" class="container clear-top">
				<ol class="breadcrumb">
					<li><a href="#">Catalogue</a></li>
					<li><a href="#">Histoire</a></li>
					<li class="active">L'Ananas supr&ecirc;me</li>
				</ol>
				<div class="row">
					<div class="col-md-4"><img src="img/ananas.jpg" alt="imma an ananas, biatch"/></div>
					<div class="col-md-8">Le livre de l'ananas supr&ecirc;me</div>
				</div>
			</div>
		</div>

		<div id="footer">
			<div class="container">
				<p class="muted credit">
					<ul class="footer_menu">
						<li><a href="#">&Agrave; propos</a></li>
						<li><a href="#">Conditions d'utilisation</a></li>
						<li><a href="#">Politique de sécurité</a></li>
					</ul>
				</p>
			</div>
		</div>

		<script src="js/main.js"></script>

	</body>
</html>
