<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>booXtore - Accueil</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" media="screen" href="includes/main.css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">booXtore</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Connexion</a></li>
						<li><a href="#">Créer un compte</a></li>
						<li><a href="#"><i class="fa fa-shopping-cart"></i> Panier</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>

		<div id="wrap">

			<div id="main" class="container clear-top">
				<div class="jumbotron">
					<h1>Boo<span class="red">X</span>tore</h1>
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, omnis, voluptate distinctio accusamus quos suscipit atque eveniet reiciendis animi quidem ex hic ducimus consectetur. Nobis, quod eius doloribus eveniet odit.</p>
					<p><a href="#" class="btn btln-lg btn-success" role="button">Catalogue</a></p>
				</div>

				<div class="page-header">
					<h2>Nos meilleures ventes</h2>
				</div>

				<div class="row">
					<div class="col-md-4">
						<a href="#"><img src="http://lorempixel.com/230/230/" alt="lorem pixel" class="img-thumbnail"></a>
						<h3>Item name</h3>
						<p class="muted">13€</p>
					</div>

					<div class="col-md-4">
						<a href="#"><img src="http://lorempixel.com/230/230/" alt="lorem pixel" class="img-thumbnail"></a>
						<h3>Item name</h3>
						<p class="muted">13€</p>
					</div>

					<div class="col-md-4">
						<a href="#"><img src="http://lorempixel.com/230/230/" alt="lorem pixel" class="img-thumbnail"></a>
						<h3>Item name</h3>
						<p class="muted">13€</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<a href="#"><img src="http://lorempixel.com/230/230/" alt="lorem pixel" class="img-thumbnail"></a>
						<h3>Item name</h3>
						<p class="muted">13€</p>
					</div>

					<div class="col-md-4">
						<a href="#"><img src="http://lorempixel.com/230/230/" alt="lorem pixel" class="img-thumbnail"></a>
						<h3>Item name</h3>
						<p class="muted">13€</p>
					</div>

					<div class="col-md-4">
						<a href="#"><img src="http://lorempixel.com/230/230/" alt="lorem pixel" class="img-thumbnail"></a>
						<h3>Item name</h3>
						<p class="muted">13€</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<a href="#"><img src="http://lorempixel.com/230/230/" alt="lorem pixel" class="img-thumbnail"></a>
						<h3>Item name</h3>
						<p class="muted">13€</p>
					</div>

					<div class="col-md-4">
						<a href="#"><img src="http://lorempixel.com/230/230/" alt="lorem pixel" class="img-thumbnail"></a>
						<h3>Item name</h3>
						<p class="muted">13€</p>
					</div>

					<div class="col-md-4">
						<a href="#"><img src="http://lorempixel.com/230/230/" alt="lorem pixel" class="img-thumbnail"></a>
						<h3>Item name</h3>
						<p class="muted">13€</p>
					</div>
				</div>

			</div>

		</div>

		<script src="includes/main.js"></script>

	</body>
</html>
