<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>booXtore - Accueil</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" media="screen" href="includes/main.css">

	</head>
	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">booXtore</a>
				</div>
				<div class="collapse navbar-collapse">

					<form class="navbar-form navbar-right">
						<div class="form-group">
							<input type="search" class="form-control" placeholder="Recherche">
						</div>
						<button class="btn btn-success">Recherche</button>
					</form>

					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="#"><i class="fa fa-user"></i> Mon compte</a></li>
						<li><a href="#"><i class="fa fa-shopping-cart"></i> Panier</a></li>
					</ul>

				</div><!--/.nav-collapse -->
			</div>
		</div>

		<div id="wrap">

			<div id="main" class="container clear-top">
				<div class="jumbotron">
					<h1>Boo<span class="red">X</span>tore</h1>
					<p class="lead">Le magasin en ligne BooXtore a été créé dans une optique précise. Conçu de manière intuitive il renouvelle la librairie de nos jours. Vous pourrez y naviguer parmis les catégories de livre et visionner les 10 meilleurs ventes de ce mois. En toute simplicité. </p>
					<p><a href="#" class="btn btln-lg btn-success" role="button">Catalogue</a></p>
				</div>

				<div class="page-header">
					<h2>Nos meilleures ventes</h2>
				</div>

				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-12">
						<a class="hidden-xs" href="#"><img src="http://lorempixel.com/230/230/" alt="lorem pixel" class="thumbnail"></a>
						<a href="#"><h3>Item name</h3></a>
						<p class="muted">13€</p>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-12">
						<a class="hidden-xs" href="#"><img src="http://lorempixel.com/230/230/" alt="lorem pixel" class="thumbnail"></a>
						<a href="#"><h3>Item name</h3></a>
						<p class="muted">13€</p>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-12">
						<a class="hidden-xs" href="#"><img src="http://lorempixel.com/230/230/" alt="lorem pixel" class="thumbnail"></a>
						<a href="#"><h3>Item name</h3></a>
						<p class="muted">13€</p>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-12">
						<a class="hidden-xs" href="#"><img src="http://lorempixel.com/230/230/" alt="lorem pixel" class="thumbnail"></a>
						<a href="#"><h3>Item name</h3></a>
						<p class="muted">13€</p>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-12">
						<a class="hidden-xs" href="#"><img src="http://lorempixel.com/230/230/" alt="lorem pixel" class="thumbnail"></a>
						<a href="#"><h3>Item name</h3></a>
						<p class="muted">13€</p>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-12">
						<a class="hidden-xs" href="#"><img src="http://lorempixel.com/230/230/" alt="lorem pixel" class="thumbnail"></a>
						<a href="#"><h3>Item name</h3></a>
						<p class="muted">13€</p>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-12">
						<a class="hidden-xs" href="#"><img src="http://lorempixel.com/230/230/" alt="lorem pixel" class="thumbnail"></a>
						<a href="#"><h3>Item name</h3></a>
						<p class="muted">13€</p>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-12">
						<a class="hidden-xs" href="#"><img src="http://lorempixel.com/230/230/" alt="lorem pixel" class="thumbnail"></a>
						<a href="#"><h3>Item name</h3></a>
						<p class="muted">13€</p>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-12">
						<a class="hidden-xs" href="#"><img src="http://lorempixel.com/230/230/" alt="lorem pixel" class="thumbnail"></a>
						<a href="#"><h3>Item name</h3></a>
						<p class="muted">13€</p>
					</div>
				</div>

			</div>

		</div>

		<script src="includes/main.js"></script>

	</body>
</html>
